@tailwind base;
@tailwind components;
@tailwind utilities;

html , body {
    height: 100%;
    padding: 1%;
    margin: 0 !important;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #04aa6d8e;
}

@media screen and (max-width : 1024px) {
    body {
        height: auto;
    }
}